.header__logo{
  max-width: 176px;
  min-height: 52px;
  left: 48px;
  top: 28px;
}

@media screen and (max-width:767px) {
  .header__logo{
    max-width: 142px;
    min-height: 42px;
    left: 16px;
    top: 16px;
  }
}
