.lead__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  padding-top:56px;
}

@media screen and (max-width:767px) {
  .lead__title{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    padding-top:48px;
  }
}
