.lead__image{
  max-width: 984px;
  min-height: 615px;
  margin-top:64px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width:1279px) {
  .lead__image{
    max-width: 928px;
    min-height: 580px;
    margin-top: 56px;
  }
}
@media screen and (max-width:1023px) {
  .lead__image{
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width:767px) {
  .lead__image{
    max-width: 320px;
    min-height: 200px;
    margin-top: 40px;
  }
}
