.lead__image__svg{
  background-image: url(../../../../images/lead_put.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 937.09px;
  height: 262.99px;
  position: absolute;
  top: 50%;
  z-index: 2;
}

@media screen and (max-width:1279px) {
  .lead__image__svg{
    width: 883.76px;
    height: 248.02px;
  }
}

@media screen and (max-width:1023px) {
  .lead__image__svg{
    width: 731.38px;
    height: 205.26px;
  }
}

@media screen and (max-width:767px) {
  .lead__image__svg{
    width: 304.74px;
    height: 85.53px;
    top: 55%;
  }
}
